<div id="page_3" class="container">
    <div class="col-md-12 text-center">
    	<div class="row">
	        <p class="page-title">{{text.title}}</p>
	        <div class="page-data">
	            {{text.desc}}
                <br>
                <br>
                <a href="https://www.linkedin.com/in/forestmathieu" title="Linkedin"><i class="fa fa-linkedin fa-2x"></i></a>
	        </div>
    	</div>
        <br>
        <br>
        <div class="col-md-offset-4 col-md-4">
            <div class="row">
                <!-- SHOW ERROR/SUCCESS MESSAGES --> 
                <div id="messages" ng-show="message">{{ message }}</div>

                <!-- FORM --> 
                <form ng-submit="processForm()" class="contact-form"> 

                    <div id="name-group" class="form-group" ng-class="{ 'has-error' : errorName }"> 
                        <label>Nom</label> 
                        <input type="text" name="name" class="form-control" placeholder="Nom" ng-model="formData.name"> 
                        <span class="help-block" ng-show="errorName">{{ errorName }}</span> 
                    </div>

                    <div id="email-group" class="form-group" ng-class="{ 'has-error' : errorEmail }"> 
                        <label>Courriel</label> 
                        <input type="text" name="email" class="form-control" placeholder="Courriel" ng-model="formData.email"> 
                        <span class="help-block" ng-show="errorEmail">{{ errorEmail }}</span> 
                    </div>

                    <div id="subject-group" class="form-group" ng-class="{ 'has-error' : errorSubject }"> 
                        <label>Sujet</label> 
                        <input type="text" name="subject" class="form-control" placeholder="Sujet" ng-model="formData.subject"> 
                        <span class="help-block" ng-show="errorSubject">{{ errorSubject }}</span> 
                    </div>

                    <div id="message-group" class="form-group" ng-class="{ 'has-error' : errorMessage }"> 
                        <label>Message</label> 
                        <textarea name="message" rows="10" cols="20" class="form-control" placeholder="Message" ng-model="formData.message"></textarea>
                        <span class="help-block" ng-show="errorMessage">{{ errorMessage }}</span> 
                    </div>

                    <button type="submit" class="btn btn-success btn-lg btn-block">
                        <span class="glyphicon glyphicon-flash"></span> Soumettre!
                    </button>

                </form>

            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <br>
        <div class="row">
	        <a class="btn footer-nav" href="/" title="Retournez à l'accueil">Retourner à l'accueil <i class="fa fa-angle-down"></i></a>
	    </div>
    </div>
</div>
