<div id="page_realisations" class="container">
    <div class="row">
        <div class="col-md-5">
            <img ng-src="{{info.imagePath}}" />
        </div>
        <div class="col-md-offset-1 col-md-6 text-left">
            <h2 class="page-title">{{info.title}}</h2>
            <br>
            <br>
            <p class="page-data">{{info.desc}}</p>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <a class="btn footer-nav" href="realisations">Mes realisations <i class="fa fa-angle-down"></i></a>
        </div>
    </div>
</div>
