<div id="page_2" class="container text-center">
    <div class="row">
        <div class="col">
            <h1 class="page-title">{{text.title}}</h1>
            <div class="page-data">
                {{text.desc}}
            </div>
        </div>
    </div>
    <div class="row realisations">
        <div class="realisation-item col-12 col-md-4" ng-repeat="item in items" animate-on-load>
            <a href="{{item.url}}">
                <img ng-src="{{item.imagePath}}" />
                <h3>{{item.name}}</h3>
            </a>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <a class="btn footer-nav" href="engagez-moi">Engagez moi <i class="fa fa-angle-down"></i></a>
        </div>
    </div>
</div>
