<div id="page_3" class="container">
    <div class="col-md-12 text-center">
    	<div class="row">
	        <p class="page-title">{{text.title}}</p>
	        <div class="page-data">
	            {{text.desc}}
                <br>
                <br>
                <a href="https://www.linkedin.com/in/forestmathieu" title="Linkedin"><i class="fa fa-linkedin fa-2x"></i></a>
	        </div>
    	</div>
        <br>
        <br>
        <div class="col-md-offset-4 col-md-4">
            <div class="row">
                <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
                <div data-ng-show="progress.active()" style="color: red; font-size: 50px;">Envoi&hellip;</div>
                <form name="form" novalidate role="form">
                  <div class="form-group">
                    <label for="name">Votre nom</label>
                    <span class="label label-danger" data-ng-show="submitted && form.name.$error.required">Requis</span>
                    <input type="text" name="name" data-ng-model="name" class="form-control" required />
                  </div>

                  <div class="form-group">
                    <label for="email">Votre adresse courriel</label>
                    <span class="label label-danger" data-ng-show="submitted && form.email.$error.required">Requis</span>
                    <span class="label label-danger" data-ng-show="submitted && form.$error.email">Invalid email!</span>
                    <input type="email" name="email" data-ng-model="email" class="form-control" required />  
                  </div>

                  <div class="form-group">
                    <label for="subjectList">Sujet</label>
                    <span class="label label-danger" data-ng-show="submitted && form.subjectList.$error.required">Requis</span>
                    <input type="text" name="subject" data-ng-model="subject" class="form-control" required>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="comments">Message</label>
                    <span class="label label-danger" data-ng-show="submitted && form.comments.$error.required">Requis</span>
                    <textarea name="comments" data-ng-model="comments" class="form-control" required></textarea>
                  </div>

                  <button data-ng-disabled="progress.active()" data-ng-click="submit(form)" class="btn btn-default">Envoyer</button>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <br>
        <div class="row">
	        <a class="btn footer-nav" href="/" title="Retournez à l'accueil">Retournez à l'accueil <i class="fa fa-angle-down"></i></a>
	    </div>
    </div>
</div>
