<div id="page_2" class="container">
    <div class="col-md-12 text-center">
        <div class="row">
            <p class="page-title">{{text.title}}</p>
            <div class="page-data">
                {{text.desc}}
            </div>
        </div>
        <div class="row">
            <div class="realisations">
        		<div class="realisation-item col-md-4" ng-repeat="item in items" animate-on-load>
        			<a href="{{item.url}}"><img ng-src="{{item.imagePath}}" />
        			 <h3>{{item.name}}</h3>
                    </a>
        		</div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                <a class="btn footer-nav" href="engagez-moi">Engagez moi <i class="fa fa-angle-down"></i></a>
            </div>
        </div>
    </div>
</div>
